:root {
  --primary: #890DD6;
  --primary-text: #1a1a1a;
  --secondary: #890DD6;
  --secondary-text: #666;
  --accent: #F42D2D;
  --accent-text: #1a1a1a;
  --bg: #f3f3f3;
  --grey: #f5f5f5;
  --grey2: #ddd;
  --white: #fff;
}

.filter-primary{
  filter: invert(11%) sepia(84%) saturate(7486%) hue-rotate(280deg) brightness(90%) contrast(101%);
  margin: -2px 4px;
}

.filter-svg-primary{
  filter: invert(11%) sepia(84%) saturate(7486%) hue-rotate(280deg) brightness(90%) contrast(101%);
}